n8n-workflow-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-snippet",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6db16926-2e0c-49bd-a5e4-d9ee321017df",
      "name": "Webhook",
      "webhookId": "e3eb7c8e-5f14-4f85-bed4-9be17b101398"
    },
    {
      "parameters": {
        "jsCode": "// Discord Bot API 요청 파싱\nconst body = $input.item.json.body;\n\n// 요청 형식: { query: string, language?: string }\nconst query = body.query;\nconst language = body.language || null;\n\nif (!query) {\n  throw new Error('query parameter is required');\n}\n\nreturn [{\n  json: {\n    searchQuery: query,\n    language: language\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "37145869-df33-4e56-8b87-4d6853646181",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "snippets",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "search_vector",
              "condition": "fullText",
              "searchFunction": "wfts",
              "keyValue": "={{ $json.searchQuery }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        -80
      ],
      "id": "5e33a57f-8cc4-4663-8265-5aecd861277d",
      "name": "Search All Languages",
      "credentials": {
        "supabaseApi": {
          "id": "dchUw8YXcS4KlAEm",
          "name": "Supabase main"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "snippets",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "search_vector",
              "condition": "fullText",
              "searchFunction": "wfts",
              "keyValue": "={{ $json.searchQuery }}"
            },
            {
              "keyName": "language",
              "condition": "eq",
              "keyValue": "={{ $json.language }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        80
      ],
      "id": "language-specific-search",
      "name": "Search Specific Language",
      "credentials": {
        "supabaseApi": {
          "id": "dchUw8YXcS4KlAEm",
          "name": "Supabase main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-language",
              "leftValue": "={{ $json.language }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "3708e936-47c7-4d26-9d57-07da7b71b10e",
      "name": "Has Language Filter?"
    },
    {
      "parameters": {
        "jsCode": "// Supabase 검색 결과를 Discord Bot API 형식으로 변환\nconst results = $input.all();\n\nif (results.length === 0) {\n  return [{ json: [] }];\n}\n\n// 스니펫 형식으로 변환\nconst snippets = results.map(item => {\n  const data = item.json;\n  \n  return {\n    id: data.id || '',\n    title: data.title || 'Untitled',\n    language: data.language || 'unknown',\n    code: data.code || data.code_preview || '',\n    description: data.description || '',\n    tags: data.tags || [],\n    category: data.category || ''\n  };\n});\n\nreturn [{ json: snippets }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "fee6c909-00a4-4722-9c0c-de249b91f46f",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        0
      ],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Has Language Filter?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Language Filter?": {
      "main": [
        [
          {
            "node": "Search Specific Language",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search All Languages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search All Languages": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Specific Language": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c989c96653a5dd649a34baf2ce68487730439b7a82696ab9cb37e1ce1d6e22e"
  }
}
